<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/settings.js" defer type="module"></script>
</head>

<body class="bg-dark">
    <div class="container-fluid pt-3 pb-3 vh-100">
        <div class="card text-center h-100 border-0">
            <div class="card-header bg-dark">
                <ul class="nav nav-pills card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link settings text-light active" id="settings-general-tab"
                            data-bs-toggle="tab" data-bs-target="#settings-general" type="button" role="tab"
                            aria-current="true" href="#">General</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link settings text-light" id="settings-export-import-tab"
                            data-bs-toggle="tab" data-bs-target="#settings-exportImport" type="button" role="tab"
                            href="#">Export/Import</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link settings text-light" id="settings-about-tab" data-bs-toggle="tab"
                            data-bs-target="#settings-about" type="button" role="tab" href="#">About</button>
                    </li>
                </ul>
            </div>
            <div class="card-body bg-dark text-light">
                <div class="tab-content">
                    <!-- General Tab Content -->
                    <div class="tab-pane active" id="settings-general" role="tabpanel"
                        aria-labelledby="settings-general-tab">
                        <div class="p-2 d-flex justify-content-start align-items-center">
                            <div class="form-check form-switch me-2">
                                <input title="Save Trace to File" placeholder="Save Trace to File"
                                    class="form-check-input" type="checkbox" id="saveTraceToFile" checked />
                                <label class="form-check-label" for="switchSaveTrace">Save trace</label>
                            </div>
                            <button class="btn btn-primary" id="openTraceFolder"
                                onclick="window.shell.openTraceLocation();">Open Trace Folder</button>
                        </div>
                        <table id="settings-table-profiles"
                            class="mt-4 table table-sm table-striped table-dark table-borderless">
                            <thead>
                                <tr>
                                    <th>Profiles</th>
                                    <th>Messages</th>
                                    <th>Tags</th>
                                    <!-- <th>Macros</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Profiles added dynamically -->
                            </tbody>
                        </table>
                    </div>
                    <!-- Export/Import Tab Content -->
                    <div class="tab-pane" id="settings-exportImport" role="tabpanel"
                        aria-labelledby="settings-export-import-tab">
                        <div class="d-flex flex-column gap-2 align-items-start">
                            <span class="fs-6">Export Profiles</span>
                            <span class="text-muted">Export all your profiles into a single dump file.</span>
                            <button id="btn-settings-export-profiles" class="btn btn-primary" type="button">Export
                                Profiles</button>
                        </div>
                        <div class="d-flex flex-column gap-2 align-items-start mt-3">
                            <span class="fs-6">Import Profiles</span>
                            <span class="text-muted">Import a Profile data dump</span>
                            <button id="btn-settings-import-profiles" type="button" class="btn btn-secondary">Choose
                                file</button>
                        </div>
                    </div>
                    <!-- About Tab Content -->
                    <div class="tab-pane" id="settings-about" role="tabpanel" aria-labelledby="settings-about-tab">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex border border-2 rounded-circle p-2" style="width: 128px; height: 128px;">
                                <svg class="fill-primary" viewBox="0 0 20 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Outlined" transform="translate(-272.000000, -154.000000)">
                                            <g id="Action" transform="translate(100.000000, 100.000000)">
                                                <g id="Outlined-/-Action-/-android"
                                                    transform="translate(170.000000, 54.000000)">
                                                    <g>
                                                        <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path
                                                            d="M6,18 C6,18.55 6.45,19 7,19 L8,19 L8,22.5 C8,23.33 8.67,24 9.5,24 C10.33,24 11,23.33 11,22.5 L11,19 L13,19 L13,22.5 C13,23.33 13.67,24 14.5,24 C15.33,24 16,23.33 16,22.5 L16,19 L17,19 C17.55,19 18,18.55 18,18 L18,8 L6,8 L6,18 Z M3.5,8 C2.67,8 2,8.67 2,9.5 L2,16.5 C2,17.33 2.67,18 3.5,18 C4.33,18 5,17.33 5,16.5 L5,9.5 C5,8.67 4.33,8 3.5,8 Z M20.5,8 C19.67,8 19,8.67 19,9.5 L19,16.5 C19,17.33 19.67,18 20.5,18 C21.33,18 22,17.33 22,16.5 L22,9.5 C22,8.67 21.33,8 20.5,8 Z M15.53,2.16 L16.83,0.86 C17.03,0.66 17.03,0.35 16.83,0.15 C16.63,-0.05 16.32,-0.05 16.12,0.15 L14.64,1.63 C13.85,1.23 12.95,1 12,1 C11.04,1 10.14,1.23 9.34,1.63 L7.85,0.15 C7.65,-0.05 7.34,-0.05 7.14,0.15 C6.94,0.35 6.94,0.66 7.14,0.86 L8.45,2.17 C6.97,3.26 6,5.01 6,7 L18,7 C18,5.01 17.03,3.25 15.53,2.16 Z M10,5 L9,5 L9,4 L10,4 L10,5 Z M15,5 L14,5 L14,4 L15,4 L15,5 Z"
                                                            id="🔹-Icon-Color" fill="#f8f9fa"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="container-fluid mt-2">
                                by <a class="ms-1 text-reset" href="#"
                                    onclick="window.openWithNativeApp.openExternal('https://github.com/CodePellet')">CodePellet</a>
                            </div>
                            <div class="mt-2 fs-6">
                                Version: <span class="app-version">YYYY.WW.d</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>