<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/settings.js" defer type="module"></script>
</head>

<body class="bg-dark">
    <div class="container-fluid pt-3 pb-3 vh-100">
        <div class="card text-center h-100 border-0">
            <div class="card-header bg-dark">
                <ul class="nav nav-pills card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active settings text-light" id="settings-general-tab"
                            data-bs-toggle="tab" data-bs-target="#settings-general" type="button" role="tab"
                            aria-current="true" href="#">General</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link settings text-light" id="settings-export-import-tab"
                            data-bs-toggle="tab" data-bs-target="#settings-exportImport" type="button" role="tab"
                            href="#">Export/Import</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link settings text-light" id="settings-about-tab" data-bs-toggle="tab"
                            data-bs-target="#settings-about" type="button" role="tab" href="#">About</button>
                    </li>
                </ul>
            </div>
            <div class="card-body bg-dark text-light">
                <div class="tab-content">
                    <div class="tab-pane active" id="settings-general" role="tabpanel"
                        aria-labelledby="settings-general-tab">
                        General Tab Content!
                    </div>
                    <div class="tab-pane h-100" id="settings-exportImport" role="tabpanel"
                        aria-labelledby="settings-export-import-tab">Export/Import Tab Content</div>
                    <div class="tab-pane" id="settings-about" role="tabpanel" aria-labelledby="settings-about-tab">
                        About Tab Content
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>